In [1]:
import pandas as pd
import numpy as np

In [2]:
df_also = pd.read_csv('also_fit_clean.csv')
df_sales = pd.read_csv('sales_data_clean.csv')

In [24]:
df1= pd.read_csv('also_fit_clean.csv')

In [25]:
df1.shape

(4704, 95)

In [3]:
df_also.head()

,item_number,item_added_year,pl_1011,pl_1012,pl_1013,rank_a,rank_b,rank_c,ACURA,AUDI,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,11-0007-00,6033,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11-0007-00-1,6036,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11-0205-01,8020,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11-0659-00,8028,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,11-0659-90,6021,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_also =df_also.drop(labels=['item_number','item_added_year'],axis = 1)

In [5]:
df_sales.head()

,ITEM_NUMBER,BR_ID,L12M,L11M,L10M,L9M,L8M,L7M,L6M,L5M,L4M,L3M,L2M,L1M,CM
0,22-1001,81,81,95,229,240,69,67,112,126,286,83,290,963,58
1,22-1007,81,0,9,16,4,14,11,0,0,0,0,0,0,0
2,22-1009,81,6,6,12,6,2,7,12,12,9,21,16,15,9
3,22-1010,81,14,6,9,4,2,9,9,13,11,11,21,22,8
4,22-1011,81,12,15,9,3,4,7,9,8,15,5,10,9,9

In [8]:
df_also.set_index(df_also.item_number,inplace=True)

In [9]:
df_sales.set_index(df_sales.ITEM_NUMBER,inplace=True)

In [16]:
df_sales=df_sales.drop(labels=['ITEM_NUMBER','BR_ID'],axis =1)

In [21]:
df_sales.shape

(25051, 13)

In [23]:
df_also.shape

(4704, 93)

In [20]:
result = pd.concat([df_sales, df_also], axis=1, join='inner')

ValueError: Shape of passed values is (106, 31319), indices imply (106, 10555)